.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-color: #eceaea;
    -fx-border-color: transparent;

}

.button {
    -fx-background-color: #00b050;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #009940;
}

.button:pressed {
    -fx-background-color: #007f32;
}

.remove-button {
    -fx-background-color: #ff5c54;
}

.remove-button:hover {
    -fx-background-color: #ff463e;
}

.remove-button:pressed {
    -fx-background-color: #e63e36;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #f4f4f4;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #eaeaea;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: transparent;
    -fx-padding: 0.0em;
    -fx-border-color: transparent;
}

.table-view .table-row-cell {
    -fx-border-color: transparent;
}

.table-row-cell {
    -fx-background-color: #ffffff;
}

.table-row-cell:odd {
    -fx-background-color: #f2f2f2;
}

.table-row-cell:selected {
    -fx-background-color: #8d8d8d;
    -fx-border-color: transparent;

}

.combo-box-base {
    -fx-padding: 3px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}

.combo-box-popup {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 5px 10px;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
    -fx-border-color: transparent;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-padding: 0;
}

.combo-box .arrow-button:hover {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 5px 10px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1);
}

.text-field:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 2);
}

.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -20%);
}
.error-label {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}
